@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Portfolio-container{
    height: 100%;
    width: 100%;
    display: flex; 
}
#navlist{
    display: flex;
    height: 13vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15vh;
    position: absolute;
}
#navlist a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}
.right, .left{
    height: 100vh;
    /* display: flex;
    align-items: center; */
}
.left{
    background-color: #262525;
    width: 100%;
    padding-left: 10vh;
    display: flex;
    align-items: center;
}
.right{
    background: linear-gradient(-45deg , #3877FF , #262525 70%);
    width: 30%;
}
#main{
    margin-left: 10vh;
    /* margin-top: -18vh; */
}
#lang{
    margin-left: 5vh;
}
.content{
    color: #fff;
}
.content #lang{
    max-width: 80vh;
}
.icons .fa-brands{
    color: #bbb;
    font-size: 30px;
}
.icons{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}
.icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#fff , #3877FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    
}
.circle:nth-child(1){
    background: linear-gradient(90deg, transparent 50%, #262525 50%);
    width: 28rem;
}
.circle:nth-child(2){
    background: white;
    width: 20rem;
    background-image: url("Image/Profile.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border: .6rem solid white;
    box-shadow: 
    0 0 1rem #fff,
    inset 0 0 1rem #fff,
    0 0 2rem #3877FF,
    inset 0 0 2rem #3877FF,
    0 0 4rem #3877FF,
    inset 0 0 4rem #3877FF;
}
#navlist a::after , #navlist .active::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;
}
#navlist a:hover::after , #navlist .active::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
